#root {
  max-width: 1280px; /* Максимальная ширина корневого элемента */
  margin: 0 auto; /* Центрирование по горизонтали */
  padding: 2rem; /* Отступы вокруг содержимого */
  text-align: center; /* Выравнивание текста по центру */
}

.app {
  border: 0; /* Убираем границу */
}

a {
  padding-left: 10px; /* Отступ слева для ссылок */
}

.container {
  padding: 20px; /* Отступы внутри контейнера */
  max-width: 800px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}

.goBackButton:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.movieDetails {
  display: flex; /* Используем флекс-контейнер для размещения элементов */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 20px; /* Промежуток между элементами */
  margin-top: 20px; /* Отступ сверху */
}

.poster {
  max-width: 200px; /* Максимальная ширина постера */
  border-radius: 10px; /* Закругление углов постера */
}

.movieDetails h2 {
  margin-bottom: 10px; /* Отступ снизу для заголовка */
}

.movieDetails p {
  margin: 5px 0; /* Отступы сверху и снизу для параграфов */
}

.additionalInfo {
  margin-top: 30px; /* Отступ сверху для дополнительной информации */
}

.additionalInfo ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  display: flex; /* Используем флекс-контейнер для списка */
  gap: 20px; /* Промежуток между элементами списка */
}

.additionalInfo a {
  color: #007bff; /* Цвет текста для ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: bold; /* Жирный шрифт для ссылок */
}

.additionalInfo a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}
